<%inherit file="default.tmpl"/>
#######################################################################
<%def name="contents()">\
${body}
<%
  recently = get_recently()
%>
% if len(recently)>1:
<h2>What's new?</h2>
%   for page, link in recently:
%     if page.mtime > page.ctime:
        Modified ${format_date(page.mtime)}\
%     else:
        Created ${format_date(page.ctime)}\
%     endif
: <a href="${link}">${page.title | entity}</a><br />
%   endfor
% endif
</%def>\
