<%inherit file="default.tmpl"/>
#######################################################################
<%def name="contents()">\
${body}
<%
  site = get_linear_sitemap("Webber", True)
%>
<ul>
% for level, page, link in site:
<li class="sitemap${level}"><a href="${link}">${page.title}</a></li>
% endfor
</ul>
</%def>\
